@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "helvetica";
  /* font-weight: 300; */
  background: #fafafa;
  padding-bottom: 100px;
}

:root {
  --button-color: #0095f6;
  --button-dark-color: #068ee9;
  --post-width: 50%;
  --post-min-width: 300px;
  --post-max-width: 700px;
}

.App {
  position: relative;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgrey;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  z-index: 100;
}

.navbar img {
  object-fit: contain;
  width: 115px;
  margin-left: 2em;
}

/* navbar buttons */
.navbar__buttons {
  display: flex;
  justify-content: flex-end;
}

.navbar__buttons div {
  font-size: 20px;
  cursor: pointer;
}

.navbar__buttons div:first-child {
  margin-right: 2rem;
}

/* POST */
.post {
  margin: auto;
  width: var(--post-width);
  max-width: var(--post-max-width);
  min-width: var(--post-min-width);
  border: 1px solid lightgrey;
  background: #fff;
  margin-top: 50px;
  font-size: 15px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 0 14px;
  border-bottom: 2px solid lightgrey;
  position: relative;
}

.post__header .delete-post {
  position: absolute;
  right: 20px;
  transform: translate(-30%, -50%);
}

.post__avatar {
  margin-right: 15px;
}

.post__image {
  position: relative;
}

.post__image img {
  width: 100%;
  object-fit: contain;
}

.post__caption {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.post__caption span {
  margin-left: 10px;
}

.post__buttons {
  padding: 0px 12px;
  padding-top: 10px;
}

.post__likes-count {
  padding: 0 12px;
  margin-top: 16px;
}

@media (max-width: 800px) {
  .navbar {
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
  }
}

.modal__container {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 13px;
  background: rgba(75, 75, 75, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  width: 350px;
}

.modal img {
  margin: auto;
  margin-bottom: 1.6rem;
  width: 60%;
}

.modal input {
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  background: #fafafa;
  font-size: 16px;
  color: #555;
}

.modal input[type="submit"] {
  background: var(--button-color);
  color: #fff;
  cursor: pointer;
}

.modal input[type="submit"]:hover {
  background: var(--button-dark-color);
}

/* logout */
.logout {
  display: flex;
  align-items: center;
}

.profile__avatar {
  margin: 0;
  padding: 0;
}

/* ImageUpload */
.img__upload {
  width: var(--post-width);
  max-width: var(--post-max-width);
  min-width: var(--post-min-width);
  border: 1px solid lightgray;
  background: #fff;
  margin: 20px auto;
  padding: 30px 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Image uploading Progress */
.img__upload__progress {
  height: 3px;
  width: 70%;
  margin-bottom: 1.8rem;
}

.img__upload__progress div {
  transition: all 0.5s;
  height: 100%;
  width: 0%;
  background: #5555;
  border-radius: 12px;
}

/* Image Upload Inputs */
.img__upload input {
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 14px;
}

/* Input file */
.img__upload input[type="file"] {
  display: none;
}

.img__upload label[for="file"] {
  padding: 6px 14px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background: rgb(105, 105, 105);
}

.img__upload label[for="file"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Caption input */
.img__upload__inputs input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
}

.img__upload__inputs input[type="text"]:hover,
.img__upload__inputs input[type="text"]:focus {
  border-bottom: 1px solid rgb(153, 153, 153);
}

/* Image upload submit button */
.img__upload__inputs input[type="button"] {
  border: none;
  cursor: pointer;
  outline: none;
}

.img__upload__inputs input[type="button"]:hover {
  background: lightgray;
}

/* Image upload name */
.img__upload__name {
  margin-bottom: 20px;
}

/* message box */
.msg__box {
  text-align: center;
}

/* Comment Box for post */

.comment__box {
  /* border: 1px solid red; */
  display: flex;
  border-top: 1px solid rgb(230, 230, 230);
}

.comment__box input[type="text"] {
  flex: 2;
}

.comment__box input {
  padding: 1.3rem;
  border: none;
  outline: none;
  font-size: 15px;
  background: #fff;
}

.comment__box input[type="submit"] {
  color: skyblue;
  cursor: pointer;
}

.comment__enabled {
  color: rgb(16, 145, 196) !important;
}

/* Comments text */
.comments div {
  padding: 4px 19px;
}

.comments div strong {
  margin-right: 8px;
}
.comments div:last-child {
  margin-bottom: 16px;
}

/* like buttons */
.post__buttons i {
  font-size: 25px;
}

.liked {
  color: #e2224b;
}

/* Post image Giant like */
.giant-like {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: none;
}

.animate-icon {
  animation: animate-icon 0.3s ease-out;
}

.animate-giant-icon {
  animation: animate-giant-icon 1s ease-out;
  animation-fill-mode: forwards;
  color: #fff;
}

/* Icon animation keyframes */
@keyframes animate-giant-icon {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.6);
  }

  30% {
    transform: scale(1.2);
  }

  85% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes animate-icon {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* comment icon */
.comment-icon {
  margin-left: 20px;
  transform: rotateY(180deg);
}

/* Error */
.error {
  text-align: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .navbar {
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
  }

  .navbar img {
    width: 85px;
  }

  .navbar__buttons div {
    font-size: 16px;
    margin-right: 12px;
  }

  .img__upload {
    width: 100%;
    padding: 18px 4px;
    box-sizing: border-box;
    display: flex;
  }

  .post {
    /* border: 1px solid red; */
    width: 100% !important;
    box-sizing: border-box;
  }
}
